* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 100%;
    left: 0;
    /* positionerad till vänster */
    right: auto;
    z-index: 10;
}

.nav a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

/* deklarera "är öppen" klass */

.nav.is-open {
    display: flex;
}

@media (min-width: 768px) {
    .nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        width: auto;
        background: none;
        gap: 2rem;
        margin: 0;
    }

    #hamburger {
        display: none;
    }
}